<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>

<nav>
    <ul>
        <li>
            <%= current_user.inspect%>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/register">Register</a>
        </li>
    </ul>
</nav>
